Repository THI-CSI/decentralized_iam_battery_data, pull requests merged in 2025-05, with the labels that each got.

#120 Feat/94 95 data structures did vc
  blockchain/.gitignore
  blockchain/Makefile
  blockchain/README.md
  blockchain/go.mod
  blockchain/go.sum
  blockchain/internal/api/web/server/server.go
  blockchain/internal/core/transaction.go
  blockchain/internal/core/types.go
  blockchain/internal/jsonschema/bms-linked.schema.json
  blockchain/internal/jsonschema/create-entity.schema.json
  blockchain/internal/jsonschema/didDocument.schema.json
  blockchain/internal/jsonschema/grant-access.schema.json
  blockchain/internal/jsonschema/modify-entity.schema.json
  blockchain/internal/jsonschema/produced.schema.json
  blockchain/internal/jsonschema/revoke-access.schema.json
  blockchain/scripts/generate-docs.sh
Labels: blockchain

#7 Define Contribution Guidelines
  CONTRIBUTING.md
Labels: documentation, infrastructure

#86 Feat#57/hedge doc migration
  README.md
  organizational/protocols/09.04.2025.md
  organizational/protocols/16.04.2025.md
  organizational/protocols/31.03.2025.md
  organizational/task_assignments.md
  organizational/team_structure.md
Labels: documentation, general, requirements

#148 Discussion/121 iam architecture
  blockchain/.gitignore
  blockchain/Makefile
  blockchain/README.md
  blockchain/docs/VC-DID-examples/VC-BatterypassToBMS.json
  blockchain/docs/VC-DID-examples/VC-OEMproducedBMS.json
  blockchain/docs/VC-DID-examples/VC-ServiceAccess.json
  blockchain/docs/VC-DID-examples/bms.json
  blockchain/docs/VC-DID-examples/cloud.json
  blockchain/docs/VC-DID-examples/eu.json
  blockchain/docs/VC-DID-examples/oem.json
  blockchain/docs/VC-DID-examples/service.json
  blockchain/internal/core/types.go
  blockchain/internal/jsonschema/bms-linked.schema.json
  blockchain/internal/jsonschema/create-entity.schema.json
  blockchain/internal/jsonschema/did.schema.json
  blockchain/internal/jsonschema/didDocument.schema.json
  blockchain/internal/jsonschema/grant-access.schema.json
  blockchain/internal/jsonschema/modify-entity.schema.json
  blockchain/internal/jsonschema/produced.schema.json
  blockchain/internal/jsonschema/revoke-access.schema.json
  blockchain/internal/jsonschema/vc.record.schema.json
  blockchain/internal/jsonschema/vc.schema.json
Labels: blockchain

#139 Fix/bms makefile
  bms/.gitignore
  bms/Doxyfile
  bms/Makefile
  bms/README.md
Labels: documentation, general, bms

#160 feat/97 96 154 transaction handlers vc verification logic
  blockchain/README.md
  blockchain/cmd/main.go
  blockchain/docs/VC-DID-examples/VC-BatterypassToBMS.json
  blockchain/docs/VC-DID-examples/bms.json
  blockchain/docs/VC-DID-examples/cloud.json
  blockchain/docs/VC-DID-examples/eu.json
  blockchain/docs/VC-DID-examples/oem.json
  blockchain/docs/VC-DID-examples/service.json
  blockchain/docs/VC-DID-examples/vcRecord.json
  blockchain/frontend/package.json
  blockchain/internal/api/cli/cli.go
  blockchain/internal/api/web/server/utils/utils.go
  blockchain/internal/core/block.go
  blockchain/internal/core/chain.go
  blockchain/internal/core/transaction.go
  blockchain/internal/core/types.go
  blockchain/internal/core/types/did.types.go
  blockchain/internal/core/types/vc.record.types.go
  blockchain/internal/core/types/vc.types.go
  blockchain/internal/jsonschema/did.schema.json
  blockchain/internal/jsonschema/vc.record.schema.json
  blockchain/internal/jsonschema/vc.schema.json
  blockchain/internal/storage/storage.go
  blockchain/tools.py
Labels: blockchain

#164 DataTypes_Attributes
  requirements/datatypes_attributes.md
Labels: requirements

#163 feat: Blockchain Refactoring and CLI improvements
  README.md
  blockchain/.gitignore
  blockchain/README.md
  blockchain/cmd/main.go
  blockchain/frontend/index.html
  blockchain/frontend/src/routes/index.tsx
  blockchain/go.mod
  blockchain/go.sum
  blockchain/internal/api/cli/cli.go
  blockchain/internal/core/block.go
  blockchain/internal/core/chain.go
  blockchain/internal/storage/storage.go
Labels: blockchain

#173 Feat/blockchain frontend
  blockchain/frontend/.prettierignore
  blockchain/frontend/package.json
  blockchain/frontend/src/api/api.tsx
  blockchain/frontend/src/api/generated/.openapi-generator-ignore
  blockchain/frontend/src/api/generated/.openapi-generator/FILES
  blockchain/frontend/src/api/generated/.openapi-generator/VERSION
  blockchain/frontend/src/api/generated/README.md
  blockchain/frontend/src/api/generated/apis/BlocksApi.ts
  blockchain/frontend/src/api/generated/apis/DIDsApi.ts
  blockchain/frontend/src/api/generated/apis/VCsApi.ts
  blockchain/frontend/src/api/generated/apis/index.ts
  blockchain/frontend/src/api/generated/config.json
  blockchain/frontend/src/api/generated/index.ts
  blockchain/frontend/src/api/generated/models/index.ts
  blockchain/frontend/src/api/generated/runtime.ts
  blockchain/frontend/src/components/BaseLayout.tsx
  blockchain/frontend/src/components/block-card.tsx
  blockchain/frontend/src/components/header.tsx
  blockchain/frontend/src/components/ui/badge.tsx
  blockchain/frontend/src/components/ui/button.tsx
  blockchain/frontend/src/components/ui/table.tsx
  blockchain/frontend/src/routeTree.gen.ts
  blockchain/frontend/src/routes/__root.tsx
  blockchain/frontend/src/routes/blocks/$blockId/index.tsx
  blockchain/frontend/src/routes/blocks/index.tsx
  blockchain/frontend/src/routes/dids/$didId/index.tsx
  blockchain/frontend/src/routes/dids/index.tsx
  blockchain/frontend/src/routes/index.tsx
  blockchain/internal/api/cli/cli.go
  blockchain/internal/api/web/server/domain/transaction.go
  blockchain/internal/api/web/server/handlers/blocks.go
  blockchain/internal/api/web/server/handlers/did.go
  blockchain/internal/api/web/server/handlers/transactions.go
  blockchain/internal/api/web/server/handlers/vc.go
  blockchain/internal/api/web/server/server.go
  blockchain/internal/api/web/server/services/blocks.go
  blockchain/internal/api/web/server/services/did.go
  blockchain/internal/api/web/server/services/transactions.go
  blockchain/internal/api/web/server/services/vc.go
  blockchain/internal/api/web/web.go
  blockchain/scripts/gen-api.sh
  blockchain/tools.py
Labels: blockchain

#177 feat: Key generation functionality for BMS keys
  cloud/flash.py
Labels: cloud

#178 docs: Add d2 action
  .github/workflows/build-d2.yml
  organizational/diagrams/did_creation.d2
  organizational/diagrams/service_access.d2
  organizational/diagrams/vc_creation.d2
Labels: general, infrastructure

#181 docs: Add initial Typst Report template
  .gitignore
  organizational/report/01_einleitung/main.typ
  organizational/report/02_hauptteil/ampferl/main.typ
  organizational/report/02_hauptteil/bee1850/abcd.typ
  organizational/report/02_hauptteil/bee1850/main.typ
  organizational/report/02_hauptteil/devbod/main.typ
  organizational/report/02_hauptteil/ensarozen/main.typ
  organizational/report/02_hauptteil/falo04/main.typ
  organizational/report/02_hauptteil/fatosthi/main.typ
  organizational/report/02_hauptteil/flosmue/main.typ
  organizational/report/02_hauptteil/fynnwind/main.typ
  organizational/report/02_hauptteil/m4tse/main.typ
  organizational/report/02_hauptteil/pal-pat/main.typ
  organizational/report/02_hauptteil/passisr/main.typ
  organizational/report/02_hauptteil/t0ffiefee/main.typ
  organizational/report/02_hauptteil/timogalax/main.typ
  organizational/report/02_hauptteil/valljah/main.typ
  organizational/report/02_hauptteil/wrapper.typ
  organizational/report/03_schluss/main.typ
  organizational/report/THILogo.png
  organizational/report/conf.typ
  organizational/report/glossary.yaml
  organizational/report/main.typ
Labels: documentation, infrastructure

#172 Feat/cloud vc verification
  cloud/api.py
  cloud/crypto/crypto.py
  cloud/requirements.txt
Labels: cloud

#185 Docs/add d2 action
  .github/workflows/build-d2.yml
Labels: infrastructure

#189 Feat/155 w3 c compliance
  blockchain/.gitignore
  blockchain/README.md
  blockchain/build/dockerfiles/blockchain-api-dev.Dockerfile
  blockchain/docs/VC-DID-examples/VC-OEMproducedBMS.json
  blockchain/docs/VC-DID-examples/VC-ServiceAccess.json
  blockchain/docs/VC-DID-examples/bms.json
  blockchain/docs/VC-DID-examples/cloud.json
  blockchain/docs/VC-DID-examples/eu.json
  blockchain/docs/VC-DID-examples/oem.json
  blockchain/docs/VC-DID-examples/service.json
  blockchain/frontend/package.json
  blockchain/frontend/src/api/generated/apis/DIDsApi.ts
  blockchain/frontend/src/api/generated/apis/VCsApi.ts
  blockchain/frontend/src/api/generated/models/index.ts
  blockchain/frontend/src/components/header.tsx
  blockchain/frontend/src/components/ui/navigation-menu.tsx
  blockchain/frontend/src/routeTree.gen.ts
  blockchain/frontend/src/routes/dids/$didId/index.tsx
  blockchain/frontend/src/routes/docs/$schema_name/index.tsx
  blockchain/internal/api/web/server/domain/did.go
  blockchain/internal/api/web/server/domain/vc.go
  blockchain/internal/api/web/server/handlers/did.go
  blockchain/internal/api/web/server/handlers/vc.go
  blockchain/internal/api/web/server/server.go
  blockchain/internal/api/web/server/services/vc.go
  blockchain/internal/core/chain.go
  blockchain/internal/core/transaction.go
  blockchain/internal/core/types/did.types.go
  blockchain/internal/core/types/vc.types.go
  blockchain/internal/jsonschema/did.schema.json
  blockchain/internal/jsonschema/vc.schema.json
  blockchain/scripts/generate-did-vc-docs-html.sh
  blockchain/scripts/generate-did-vc-docs-md.sh
  blockchain/scripts/install-dependencies.sh
  blockchain/tools.py
Labels: blockchain

#193 Fix/actions
  .github/workflows/build-d2.yml
  .github/workflows/build-typst.yml
Labels: infrastructure

#161 feat: add logging for retry and API error handling (#TBD3)
  cloud/test_client.py
Labels: cloud

#183 feat: Add DID listing, timestamps and duplicate logging
  cloud/api.py
Labels: cloud

#195 Fix/actions
  .github/workflows/build-d2-and-typst.yml
  .github/workflows/build-typst.yml
Labels: infrastructure

#197 Fix/actions
  .github/workflows/build-d2-and-typst.yml
  .github/workflows/build-typst.yml
Labels: infrastructure

#199 docs: Update template structure
  organizational/report/01_einleitung/main.typ
  organizational/report/02_hauptteil/01_Allgemeine_Projektbeschreibung/Problembeschreibung.typ
  organizational/report/02_hauptteil/01_Allgemeine_Projektbeschreibung/Projektkontext.typ
  organizational/report/02_hauptteil/01_Allgemeine_Projektbeschreibung/Projektziel.typ
  organizational/report/02_hauptteil/02_Projekt_Organisation/Genutzte_Tools_und_Plattformen.typ
  organizational/report/02_hauptteil/02_Projekt_Organisation/Systemarchitektur.typ
  organizational/report/02_hauptteil/02_Projekt_Organisation/Ueberblick_und_Zusammenhang_der_Arbeitspakete.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/BMS.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/Cloud.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/IAM-Blockchain.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/Infrastructure.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/Projektmanagement.typ
  organizational/report/02_hauptteil/03_Arbeitspakete/Requirements_Engineering.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/BMS.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/Cloud.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/IAM-Blockchain.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/Infrastructure.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/Projekt_Management.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/Requirements_Engineering.typ
  organizational/report/02_hauptteil/04_Anforderungen_und_Loesungen/Uebersicht_der_arbeitspakete_und_zugeordneter_requirements.typ
  organizational/report/02_hauptteil/ampferl/main.typ
  organizational/report/02_hauptteil/bee1850/abcd.typ
  organizational/report/02_hauptteil/bee1850/main.typ
  organizational/report/02_hauptteil/devbod/main.typ
  organizational/report/02_hauptteil/ensarozen/main.typ
  organizational/report/02_hauptteil/falo04/main.typ
  organizational/report/02_hauptteil/fatosthi/main.typ
  organizational/report/02_hauptteil/flosmue/main.typ
  organizational/report/02_hauptteil/fynnwind/main.typ
  organizational/report/02_hauptteil/m4tse/main.typ
  organizational/report/02_hauptteil/pal-pat/main.typ
  organizational/report/02_hauptteil/passisr/main.typ
  organizational/report/02_hauptteil/t0ffiefee/main.typ
  organizational/report/02_hauptteil/timogalax/main.typ
  organizational/report/02_hauptteil/valljah/main.typ
  organizational/report/02_hauptteil/wrapper.typ
  organizational/report/03_schluss/main.typ
  organizational/report/conf.typ
  organizational/report/main.typ
  organizational/report/ref.bib
Labels: documentation, must, infrastructure

#202 Library to create and parse JSON Objects on the BMS
  bms/Makefile
  bms/src/net_thread_entry.c
Labels: bms

#216 docs: Add single point of truth to readme
  README.md
Labels: infrastructure

#218 Fix error handling for docker enviroment and blockchain.json.
  blockchain/docker-compose-dev.yml
  blockchain/frontend/src/components/header.tsx
  blockchain/frontend/src/routes/blocks/index.tsx
  blockchain/frontend/src/routes/dids/index.tsx
  blockchain/tools.py
Labels: blockchain

#224 Add deploy key and latest tag release to the build action
  .github/workflows/build-d2-and-typst.yml
  README.md
  organizational/assets/bms_did_creation.svg
  organizational/assets/did_revocation.svg
  organizational/assets/org_did_creation.svg
  organizational/assets/service_access.svg
  organizational/assets/vc_creation.svg
Labels: infrastructure
