Repository THI-CSI/decentralized_iam_battery_data, pull requests merged in 2025-04, with the labels that each got.

#6 Create LICENSE
  LICENSE
Labels: general

#8 Issue and Pullrequest Templates
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, feature

#11 Feat#10/readme adjustment
  README.md
Labels: documentation, general

#45 Document and Setup Blockchain Project Setup
  blockchain/.gitignore
  blockchain/README.md
  blockchain/cmd/main.go
  blockchain/go.mod
  blockchain/internal/api/cli/cli.go
  blockchain/internal/api/web/web.go
  blockchain/internal/core/block.go
  blockchain/internal/core/transaction.go
Labels: documentation, general, blockchain

#50 Implement basic Block Generation and Validation
  blockchain/cmd/main.go
  blockchain/internal/core/block.go
Labels: blockchain

#51 Create rights_and_roles.md
  requirements/rights_and_roles.md
Labels: requirements

#54 added mockup http server for blockchain
  blockchain/.gitignore
  blockchain/README.md
  blockchain/cmd/main.go
  blockchain/go.mod
  blockchain/go.sum
  blockchain/internal/api/web/server/config.go
  blockchain/internal/api/web/server/domain/did.go
  blockchain/internal/api/web/server/domain/errors.go
  blockchain/internal/api/web/server/handlers/did.go
  blockchain/internal/api/web/server/server.go
  blockchain/internal/api/web/server/services/did.go
  blockchain/internal/api/web/server/utils/utils.go
  blockchain/internal/api/web/web.go
Labels: blockchain

#52 Feat#29/requirements template
  .github/ISSUE_TEMPLATE/0_GENERAL.yml
  .github/ISSUE_TEMPLATE/1_REQUIREMENT.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: requirements

#63 feat: added skeleton cli
  blockchain/cmd/main.go
  blockchain/internal/api/cli/cli.go
Labels: blockchain

#74 feat: Implement Blockchain Storage Module (#49)
  blockchain/.gitignore
  blockchain/README.md
  blockchain/cmd/main.go
  blockchain/internal/api/cli/cli.go
  blockchain/internal/core/block.go
  blockchain/internal/storage/storage.go
Labels: blockchain

#87 feat: Add data_gen and test_endpoint script
  data_gen/data_generator.py
  data_gen/test_endpoint.py
Labels: bms, cloud

#85 feat: basic transactions (Transaction Hash inconsistent)
  blockchain/Makefile
  blockchain/README.md
  blockchain/internal/api/cli/cli.go
  blockchain/internal/core/block.go
  blockchain/internal/core/transaction.go
  blockchain/internal/core/transaction_test.go
Labels: blockchain
