Repository THI-CSI/decentralized_iam_battery_data, pull requests merged in 2025-06, with the labels that each got.

#232 Message creation process on hardware (BMS)
  bms/.cproject
  bms/.project
  bms/configuration.xml
  bms/ra_cfg.txt
  bms/src/SEGGER_RTT/SEGGER_RTT.c
  bms/src/SEGGER_RTT/SEGGER_RTT.h
  bms/src/SEGGER_RTT/SEGGER_RTT_Conf.h
  bms/src/SEGGER_RTT/SEGGER_RTT_printf.c
  bms/src/bms_cloud_transaction_entry.c
  bms/src/bms_cloud_transaction_entry.h
  bms/src/common_utils.h
  bms/src/hal_entry.c
  bms/src/init_thread_entry.c
  bms/src/init_thread_entry.h
  bms/src/irq_callback.c
  bms/src/rtc_init.c
  bms/src/rtc_init.h
Labels: bms

#234 doc: fixed communication to the docker/podman container
  bms/README.md
Labels: bms

#235 fix: number_of_endoints first needs to be fetched from network task
  bms/src/bms_cloud_transaction_entry.c
Labels: bms

#240 Message creation process and initial key pair generation for Mock-BMS
  mock_bms/key_gen.py
  mock_bms/message_creation.py
Labels: bms

#225 Add full English method specification for did:batterypass
  requirements/did-method-spec.md
Labels: requirements

#246 BMS network task skeleton (ITC etc.)
  bms/src/bms_cloud_transaction_entry.c
  bms/src/bms_cloud_transaction_entry.h
  bms/src/common_utils.h
  bms/src/init_task_entry.c
  bms/src/init_task_entry.h
  bms/src/net_task_entry.c
  bms/src/net_task_skeleton.h
  bms/src/net_thread_entry.c
  bms/src/usr_app.h
Labels: bms

#247 Fix/mock bms message layout
  mock_bms/message_creation.py
Labels: bms

#233 Ex/service client
  cloud/api.py
  cloud/crypto/crypto.py
  service-client/.env
  service-client/crypto/__init__.py
  service-client/crypto/crypto.py
  service-client/requirements.txt
  service-client/service_access.py
  service-client/util/__init__.py
  service-client/util/util.py
Labels: must, cloud, infrastructure

#252 feat: Permissions based access to battery pass data
  cloud/api.py
  cloud/crypto/crypto.py
  cloud/docs/api.md
  cloud/docs/example/batterypass.json
  cloud/docs/example/genpayloads.py
  cloud/docs/example/registerdid.py
  cloud/docs/example/testkeys
  cloud/requirements.txt
  cloud/util/attributes.jsonc
  cloud/util/middleware.py
  cloud/util/models.py
Labels: cloud

#257 Client for Service Access
  .gitignore
  client/.env
  client/README.md
  client/crypto/__init__.py
  client/crypto/crypto.py
  client/requirements.txt
  client/service_access.py
  client/util/__init__.py
  client/util/util.py
Labels: should, unique, infrastructure, python
